{% extends "docman/template.html" %}

{% block title %}
    About
{% endblock %}


{% block body %}
<div style="padding-top:80px;" class="container-fluid">

	<h3 style="font-size: xx-large; padding-bottom: 5px; padding-top:10px;">Software</h3>
The Presentation Management site and on-site computers have Office 2010 installed and will support all versions of PowerPoint.

	<h3 style="font-size: xx-large; padding-bottom: 5px; padding-top:10px;">Fonts</h3>
All fonts that are included with Office 2010 are supported. If you need a specialized font, it should be embedded into your PowerPoint presentation. Click here for explanation of this process.

	<h3 style="font-size: xx-large; padding-bottom: 5px; padding-top:10px;">Videos</h3>
If you are uploading a video, you should upload it at the same time as your presentation. 
<br><br>
Please remember to compress your videos. Your video will upload faster and load faster during your presentation with no distinguishable loss in video quality. If you plan to play a DVD as part of your presentation, please notify a technician in the Speaker Ready Room so arrangements can be made in your presentation room.

	<h3 style="font-size: xx-large; padding-bottom: 5px; padding-top:10px;">Speaker Ready Rooom</h3>
We encourage you to preview your presentation and ensure graphics, text and media files display prior to your presentation in the Speaker Ready Room.  The Ready Room is located in <b>Room 211</b> at the Shaw Centre and will be open:<br>
<ul>
<li>Monday, December 1 		12:00-17:00</li>
<li>Tuesday, December 2		08:00-16:00</li>
<li>Wednesday, December 3 		08:00-16:00</li>
<li>Thursday, December 4 		08:00-10:00</li>
</ul>

	<div class="row">
		<div class="col-lg-12" style="text-align:center">

			
		</div>
	</div>

</div>
	
<div style=" clear:both;"></div>


{% endblock %}