{% extends "docman/template.html" %}

{% block title %}
    Contact
{% endblock %}


{% block body %}

<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12" style="text-align:center">
			<h2 style="font-size: xx-large; padding-bottom: 5px; margin-top:80px;">Website support: <a href="mailto:support@isiglobal.ca">support@isiglobal.ca</a></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12" style="text-align:center">
			<h2 style="font-size: xx-large; padding-bottom: 5px; padding-top:40px;">Conference Tech Support: <a href="mailto:support@lmb.com">support@lmb.com</a></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12" style="text-align:center">
			<h2 style="font-size: xx-large; padding-bottom: 5px; padding-top:40px;">PHAC/ASPC Event Management: <a href="mailto:events@phac-aspc.gc.ca">events@phac-aspc.gc.ca</a></h2>
		</div>
	</div>

</div>
	
<div style=" clear:both;"></div>

{% endblock %}